body {
    margin: 0px;
}

header {
    width: 100vh;
}

.header {
    display: flex;
    width: 100%;
    height: 105px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background: #F2C94C;
}

.header span {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    color: #000000;
    line-height: 44px;
    letter-spacing: 0em;
}

main {
    display: flex;
    width: 100vh;
    justify-content: center;
    align-items: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.child {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-height: 200px;
    background-image: url(../GRID/img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 15px 16px -5px rgba(0, 0, 0, 0.37);
    border-radius: 10px;
}

.label {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgba(17, 43, 60, 0.76);
    backdrop-filter: blur(9px);
    border-radius: 0px 0px 10px 10px;
}

.label h3 {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #F2C94C;
    margin: 0px;
}

.label p {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: #F2F2F2;
    margin: 0px;
}

.footer {
    display: flex;
    width: 100%;
    height: 105px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background: #F2C94C;
}

.footer span {

    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    color: #000000;
    line-height: 44px;
    letter-spacing: 0em;
}

.parent :nth-child(1) {
    grid-area: 1/5/3/7;
}

.parent :nth-child(3) {
    grid-area: 3/1/5/3;
}

.parent :nth-child(6) {
    grid-area: 4/4/6/6;
}


/* grid-row-start: ;
    grid-column-start: ;
    grid-row-end: ;
    grid-column-end: ;