body {
    display: flex;
    width: 100%;
}

.prof {
    display: flex;
    width: min-content;
    height: min-content;
    align-self: flex-end;
}

.button {
    display: flex;
    background-image: url(../FLEXBOX/img/profile.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.container {
    display: flex;
    width: 600px;
    min-height: 300px;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 0 5px grey;
}

.card {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-height: 300px;
    margin: 10px;
    padding: 10px;
    background-image: url(../FLEXBOX/img/photo.png);
    background-repeat: no-repeat;
    background-size: 160px;
    background-position: center;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    max-height: 300px;
    margin: 10px;
    padding: 10px;
    background: rgb(30, 30, 113);
    border-radius: 0px 15px 15px 0px;
}

.q-btn {
    display: flex;
    width: 65px;
    height: 65px;
    background-image: url(../position/img/question.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    position: absolute;
    top: 85%;
    left: 92%;

}

hr {
    color: #fff;
    width: 100%;
}

h1 {
    display: flex;
    color: aliceblue;
    font-size: large;
    font-style: normal;
    justify-content: center;
}

p {
    display: flex;
    color: aliceblue;
    font-size: large;
    font-style: normal;
    text-align: justify;
    overflow: auto;
}

span {
    display: flex;
    color: aliceblue;
    font-size: large;
    font-style: normal;
    justify-content: right;
}

a {
    display: flex;
    justify-content: end;
}